
/* 
#chatroomID {
    height: 100%;
} */
#iframeChat{
    width:100%;
    height:100%;
    border:1px solid #561010;
    overflow:none";
    scrolling="no";
}

/* #mainSegment{
    display: none;
}
*/
#chatSegment{
    height:500px;
} 